domain {{domain}};

scope{
    local {
    {{#path.sppPathItems}}
        {{operationId}};
    {{/path.sppPathItems}}
    }
}
{{#path.sppPathItems}}
@parameter(path="{{relativePath}}"){ {{operationId}};}
{{/path.sppPathItems}}

