package {{packageName}};
import free.servpp.service.AtomicService;
{{#sppFieldList}}
import {{type.packageName}}.{{type.name}};
{{/sppFieldList}}
public interface {{name}} extends AtomicService {
	public void {{funcName}}({{#sppFieldList}}{{^-first}},{{/-first}}{{type.name}} {{name}}{{/sppFieldList}});
}
