package {{packageName}};
import free.servpp.service.AtomicService;
{{#serviceBody.sppLocalVarList}}
import {{type.packageName}}.{{type.name}};
{{/serviceBody.sppLocalVarList}}
public interface {{name}} extends AtomicService {
	public void {{funcName}}({{#serviceBody.sppLocalVarList}}{{^-first}},{{/-first}}{{type.name}}{{arrayString}} {{name}}{{/serviceBody.sppLocalVarList}});
}
