package {{basePackage}}.{{domainName}}.service;

import {{basePackage}}.{{domainName}}.handler.{{name}};
{{#serviceBody.sppLocalVarList}}
import {{basePackage}}.{{domainName}}.model.{{type.name}};
{{/serviceBody.sppLocalVarList}}

public class Simple{{name}} implements {{name}} {
    @Override
	public void {{funcName}}({{#serviceBody.sppLocalVarList}}{{^-first}},{{/-first}}{{type.name}}{{arrayString}} {{name}}{{/serviceBody.sppLocalVarList}}){

	}

    @Override
    public Object execute(Object... params) {
        return null;
    }

    @Override
    public void copyFrom(Object role) {
    }
}
