package {{packageName}};
import java.util.Map;
public class {{name}} {
	public void roleToEntity({{role.name}} role, Map<String, Object> entities) {
	{{#serviceBody.sppLocalVarList}}
        (({{entityName}})entities.get("{{entityName}}")).set{{upperName}} (role.get{{upperName}}());
	{{/serviceBody.sppLocalVarList}}
	{{#sppFieldList}}
        (({{entityName}})entities.get("{{entityName}}")).set{{upperEntityName}} (role.get{{upperName}}());
	{{/sppFieldList}}
	}
	public void entityToRole(Map<String, Object> entities, {{role.name}} role) {
	{{#serviceBody.sppLocalVarList}}
		role.set{{upperName}} ((({{entityName}})entities.get("{{entityName}}")).get{{upperName}}());
	{{/serviceBody.sppLocalVarList}}
	{{#sppFieldList}}
		role.set{{upperName}} ((({{entityName}})entities.get("{{entityName}}")).get{{upperEntityName}}());
	{{/sppFieldList}}
    }
}