package {{packageName}};
import free.servpp.client.Scenario;
{{#serviceBody.sppLocalVarList}}
import {{type.packageName}}.{{type.name}};
{{/serviceBody.sppLocalVarList}}
public abstract class {{name}} implements Scenario{
	{{#sppFieldList}}
	protected {{type.name}} {{name}};
	{{/sppFieldList}}
	public void {{funcName}}({{#serviceBody.sppLocalVarList}}{{^-first}},{{/-first}}{{type.name}} {{name}}{{/serviceBody.sppLocalVarList}}){
    {{#serviceBody}}{{#sppServiceCallList}}
	    {{#callee}}{{funcName}}.{{funcName}}({{#sppParameterList}}{{^-first}},{{/-first}}{{nameCall}}{{/sppParameterList}});{{/callee}}
        {{#transactionCall}}{{#-first}}{
            String transaction_id = startTransaction();{{/-first}}
            {{#callee}}{{funcName}}.{{funcName}}({{#sppParameterList}}{{^-first}},{{/-first}}{{nameCall}}{{/sppParameterList}});{{/callee}}
            {{#-last}}endTransaction(transaction_id);
        }{{/-last}}{{/transactionCall}}
    {{/sppServiceCallList}}{{/serviceBody}}
	}
}
