package {{basePackage}}.{{domainName}}.service;

import {{basePackage}}.{{domainName}}.handler.{{name}};
{{#requestSuffix}}import {{basePackage}}.{{domainName}}.model.{{name}}{{requestSuffix}};{{/requestSuffix}}
{{#serviceBody.sppLocalVarList}}
import {{basePackage}}.{{domainName}}.model.{{type.name}};
{{/serviceBody.sppLocalVarList}}

public class Simple{{name}} implements {{name}} {
    private {{name}}{{#requestSuffix}}{{requestSuffix}}{{/requestSuffix}} arg;
    @Override
	public void {{funcName}}({{#serviceBody.sppLocalVarList}}{{^-first}},{{/-first}}{{type.name}}{{arrayString}} {{name}}{{/serviceBody.sppLocalVarList}}){
        {{#expressions}}
        {{expr}};
        {{/expressions}}
	}

    @Override
    public void execute(Object... params) {
        arg = ({{name}}{{#requestSuffix}}{{requestSuffix}}{{/requestSuffix}}) params[params.length - 1];
        {{#requestSuffix}}{{funcName}}({{#serviceBody.sppLocalVarList}}{{^-first}},{{/-first}}arg.get{{upperName}}(){{toArrayString}}{{/serviceBody.sppLocalVarList}});{{/requestSuffix}}
        {{^requestSuffix}}{{funcName}}({{#serviceBody.sppLocalVarList}}({{type.name}}{{toArrayString}})arg{{/serviceBody.sppLocalVarList}});{{/requestSuffix}}
    }

    @Override
    public void copyFrom(Object role) {
        arg = ({{name}}{{#requestSuffix}}{{requestSuffix}}{{/requestSuffix}})role;
    }
}
