package {{basePackage}}.{{domainName}}.service;

import {{basePackage}}.{{domainName}}.handler.{{name}};
import {{basePackage}}.{{domainName}}.model.{{name}}Args;
{{#sppFieldList}}
import {{basePackage}}.{{domainName}}.model.{{type.name}};
{{/sppFieldList}}

public class Simple{{name}} implements {{name}} {
    private {{name}}Args arg;
    @Override
	public void {{funcName}}({{#sppFieldList}}{{^-first}},{{/-first}}{{type.name}} {{name}}{{/sppFieldList}}){
        {{#expressions}}
        {{expr}};
        {{/expressions}}
	}

    @Override
    public void execute(Object... params) {
        arg = ({{name}}Args) params[params.length - 1];
        {{funcName}}({{#sppFieldList}}{{^-first}},{{/-first}}arg.get{{upperName}}(){{/sppFieldList}});
    }

    @Override
    public void copyFrom(Object role) {
        arg = ({{name}}Args)role;
    }
}
