getRequest().ifPresent(request -> {
            for (MediaType mediaType: MediaType.parseMediaTypes(request.getHeader("Accept"))) {
                if (mediaType.isCompatibleWith(MediaType.valueOf("application/json"))) {
                    free.servpp.service.DefaultServiceContainer.getInstance().getService("{{operationId}}").execute({{#allParams}}{{^-first}},{{/-first}}{{paramName}}{{/allParams}});
                    com.fasterxml.jackson.databind.ObjectWriter ow = new com.fasterxml.jackson.databind.ObjectMapper().
                    registerModule(new com.fasterxml.jackson.datatype.jsr310.JavaTimeModule()).writer().withDefaultPrettyPrinter();
                    try {
                        String json = ow.writeValueAsString({{#allParams}}{{^-first}},{{/-first}}{{paramName}}{{/allParams}});
                        ApiUtil.setExampleResponse(request,"application/json",json);
                    } catch (com.fasterxml.jackson.core.JsonProcessingException e) {
                        e.printStackTrace();
                    }
                    break;
            }
        }
        });
        return new ResponseEntity<>(HttpStatus.OK);
