package {{packageName}};

import java.util.List;
import java.util.Map;

import {{modelPackage}}.{{cls.name}};
import org.apache.ibatis.annotations.Mapper;

@Mapper
public interface {{cls.name}}Mapper {
    void create{{cls.name}}({{cls.name}} {{lowerClsName}});
    void update{{cls.name}}({{cls.name}} {{lowerClsName}});
    {{cls.name}} get{{cls.name}}({{cls.name}} {{lowerClsName}});
    List<{{cls.name}}> search{{cls.name}}({{cls.name}} {{lowerClsName}});
}
