<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="{{packageName}}.{{mybatisClass.type}}Mapper">
    {{>resultmap}}
    <select id="get{{mybatisClass.type}}" resultMap="get{{mybatisClass.type}}">
        SELECT {{#table.columns.arrayList}}{{^-first}},{{/-first}}{{name}}{{/table.columns.arrayList}}
        FROM {{table.appTable.name}}
        WHERE {{#table.primaryKeys.arrayList}}{{^-first}} and {{/-first}}{{name}} = #{ {{field.qualifiedInstName}} }{{/table.primaryKeys.arrayList}}
    </select>

    <select id="search{{mybatisClass.type}}" resultMap="get{{mybatisClass.type}}">
        SELECT {{#table.columns.arrayList}}{{^-first}},{{/-first}}{{name}}{{/table.columns.arrayList}}
        FROM {{table.appTable.name}}
        WHERE
        <trim suffixOverrides="and ">
        {{>columneqfield}}
        </trim>
    </select>
    <update id="update{{mybatisClass.type}}">
        UPDATE {{table.appTable.name}} SET
        <trim suffixOverrides=",">
        {{>columneqfield}}
        </trim>
        WHERE {{#table.primaryKeys.arrayList}}{{^-first}} and {{/-first}}{{name}} = #{ {{field.qualifiedInstName}} }{{/table.primaryKeys.arrayList}}
    </update>

    <insert id="create{{mybatisClass.type}}">
        INSERT INTO {{table.appTable.name}} (
        <trim suffixOverrides=",">
            {{#table.primaryKeys.arrayList}}{{name}}{{^-last}},{{/-last}}{{#-last}}{{#mybatisClass}},{{/mybatisClass}}{{/-last}}{{/table.primaryKeys.arrayList}}
        {{>column}}
        ) VALUES (
            {{#table.primaryKeys.arrayList}}#{ {{field.qualifiedInstName}} }{{^-last}},{{/-last}}{{#-last}}{{#mybatisClass}},{{/mybatisClass}}{{/-last}}{{/table.primaryKeys.arrayList}}
        {{>field}}
        </trim>
    )</insert>
{{#quantum}}
    <update id="increase{{mybatisClass.type}}">
        UPDATE {{table.appTable.name}} SET {{name}}={{name}} + #{ {{field.qualifiedInstName}} }
        WHERE {{#table.primaryKeys.arrayList}}{{^-first}} and {{/-first}}{{name}} = #{ {{field.qualifiedInstName}} }{{/table.primaryKeys.arrayList}} and {{name}} + #{ {{field.qualifiedInstName}} } &lt; #{ {{field.qualifiedInstName}}Max }
    </update>
    <update id="decrease{{mybatisClass.type}}">
        UPDATE {{table.appTable.name}} SET {{name}}={{name}} - #{ {{field.qualifiedInstName}} }
        WHERE {{#table.primaryKeys.arrayList}}{{^-first}} and {{/-first}}{{name}} = #{ {{field.qualifiedInstName}} }{{/table.primaryKeys.arrayList}} and {{name}} + #{ {{field.qualifiedInstName}} } > #{ {{field.qualifiedInstName}}Min }
    </update>
{{/quantum}}
</mapper>
